/* WelcomePage.css */
.welcome-page {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.maintitle {
  font-size: 4.5rem;
  margin-top:15rem;
  color:#1a2d4d;
  font-family: "Lemon_t";
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.sign-in-button1,
.sign-up-button1 {
  width: 18rem;
  height:4.3rem; /* 버튼의 폭 조정 */
  padding: 0.5rem; /* 버튼 내부의 여백 조정 */
  font-size: 1.6rem;
  font-family: Pretendard-SemiBold_t;
  background-color: #1a2d4d;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}







