/* SignInPage.css */
.sign-up-page {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10%;
   
}

.title{
    font-size: 4.5rem;
    font-family: 'lemon_t';
    color: #1a2d4d;
    margin-top: 3rem;

}


.birth-selectors {
    display: flex;
    gap: 18px;
}

.birth-selectors select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    border: 4px solid #1a2d4d;
    border-radius: 20px;
}




.label_signup{
    font-size: 1.0rem;
    font-family: Pretendard-Regular_t;
    color: #000000;
    margin-top: 0.7rem;
    margin-left:0.7rem;
    margin-bottom: 0.2rem;
}

input{
    width: 90%;
    height:2rem; /* 버튼의 폭 조정 */
    padding: 0.2rem; /* 버튼 내부의 여백 조정 */
    font-size: 1.2rem;
    font-family: Pretendard-Regular_t;

    color: #000000;
    border-radius: 20rem;
    border:4px solid #1a2d4d;
    cursor: pointer;
    margin-top: 0rem;
}

.sign-up-button {
    width: 70%; /* 예시: 버튼의 폭을 150px로 조정 */
    height: 2.5rem; /* 예시: 버튼의 높이를 40px로 조정 */
    padding: 0.5rem;
    font-size: 1.3rem;
    font-family: Pretendard-Regular_t;
    background-color: #1a2d4d;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 3rem;
}
.signupcontainer{
margin-top:4rem ;
gap: 4rem;
}


