/* Calendar 컴포넌트 스타일 */

.calendar-container {
    text-align: center;
  }
  
  .calendar-header {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem; /* 변경: px -> rem */
    background-color: #f0f0f0;
    font-size: 0.8rem; /* 변경: px -> rem */
    
  }
  
  .calendar {
    width:90%;
    border: none;
    border-radius: 0.3125rem; /* 변경: px -> rem */
    margin: 0.625rem; /* 변경: px -> rem */
    padding: 0.625rem; /* 변경: px -> rem */
  }
  
  .calendar-days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.875rem; /* 변경: px -> rem */
  }
  
  .calendar-day-link {
     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem; 
    color: #000000;
    font-family: Pretendard-Regular_t;
    margin: 0.125rem; 
    /*transition: background-color 0.3s ease-in-out;*/
  }

  
  
  .calendar-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  